* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clean-style::after {
	content: "";
	display: table;
	clear: both;
}

body {
	color: #555;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 16px;
	position: relative;
	height: 100vh;
	font-weight: 400;
}

.right {
	float: right;
}

.red {
	color: #ff5049;
}
.redfocus:focus {
	border: 1px solid #ff5049;
}

header {
	height: 40vh;
	background-size: cover;
	background-position: center;
	position: relative;
	width: 100%;
	padding-top: 150px;
	padding-bottom: 100px;
	color: #fff;
	background: url(../img/fondo.png), #7b4397;
	background: url(../img/fondo.png), -webkit-gradient(linear, right top, left top, from(#7b4397) to (#dc2430));
	background: url(../img/fondo.png), linear-gradient(to left, #7b4397, #dc2430);
}

.estimate {
	position: absolute;
	width: 350px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
}

.estimate h2 {
	text-align: center;
	margin-bottom: 10px;
}

.estimate p {
	font-weight: 300;
	font-size: 46px;
	text-align: center;
	margin-bottom: 25px;
	letter-spacing: 2px;
}

.entry-estimate,
.egress-estimate {
	padding: 12px;
	text-transform: uppercase;
	border-radius: 10px;
}

.entry-estimate {
	margin-bottom: 10px;
	background-color: #28b9b5;
}

.egress-estimate {
	background-color: #ff5049;
}

.text-entry-estimate,
.text-egress-estimate {
	float: left;
	font-size: 13px;
	color: #fff;
	margin-top: 2px;
}

.value-entry-estimate,
.value-egress-estimate {
	letter-spacing: 1px;
	float: left;
}

.percentage-entry-estimate,
.percentage-egress-estimate {
	float: left;
	width: 34px;
	font-size: 11px;
	padding: 3px 0;
	margin-left: 10px;
}

.percentage-egress-estimate {
	background-color: rgba(255, 255, 255, 0.2);
	text-align: center;
	border-radius: 3px;
}

.container {
	width: 860px;
	margin: 60px auto;
}

.income {
	float: left;
	width: 370px;
	margin-right: 70px;
}

.expenses {
	float: left;
	width: 370px;
}

.expenses h2 {
		color: #ff5049;
}

h2 {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 15px;
}

.element {
	padding: 13px;
	border-bottom: 1px solid #e7e7e7;
}

.element:first-child {
	border-top: 1px solid #e7e7e7;
}

.element:nth-child(even) {
	background-color: #e7e7e7;
}

.description-element {
	float: left;
}

.value-element {
	float: left;
	transition: transform 0.3s;
}

.percentage-element {
	float: left;
	margin-left: 20px;
	transition: transform 0.3s;
	font-size: 11px;
	background-color: #ffdad9;
	padding: 3px;
	border-radius: 3px;
	width: 45px;
	text-align: center;
}



.income h2{
	color: #28b9b5;
}


.income .value-element,
.income .btn-delete-element {
	color: #28b9b5;
}

.expenses .value-element,
.expenses .percentage-element,
.expenses .btn-delete-element {
	color: #ff5049;
}

.delete-element {
	float: left;
}

.btn-delete-element{
	font-size: 22px;
	background: none;
	border: none;
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
	display: none;
}

.btn-delete-element:focus {
	outline: none;
}

.btn-delete-element:active {
	transform: translateY(2px);
}

.element:hover .btn-delete-element {
	display: block;
}

.element:hover .value-element,
.element:hover .percentage-element {
	transform: translateX(-20px);
}


/* --------------------- add ------------------ */
.add {
	padding: 14px;
	border-bottom: 1px solid #e7e7e7;
	background-color: #f7f7f7;
}

.add-container {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.add-type {
	/* width: 55px; */
	padding: 0 10px;
	border: 1px solid #e7e7e7;
	height: 44px;
	font-size: 18px;
	color: inherit;
	background-color: #fff;
	margin-right: 10px;
	font-weight: 300;
	transition: border 0.3s;
}

.add-description,
.add-value {
	border: 1px solid #e7e7e7;
	background-color: #fff;
	color: inherit;
	font-family: inherit;
	font-size: 14px;
	padding: 12px 15px;
	margin-right: 10px;
	border-radius: 5px;
	transition: border 0.3s;
}

.add-description {
	width: 400px;
}

.add-value {
	width: 100px;
}

.add-btn {
	font-size: 35px;
	background: none;
	border: none;
	color: #28b9b5;
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
	line-height: 0;
	margin-left: 10px;
}

.add-btn:active {
	transform: translateY(5px);
}

.add-type:focus,
.add-description:focus,
.add-value:focus {
	outline: none;
	border: 2px solid #28b9b5;
}

.add-btn:focus {
	outline: none;
}